<html>
    <head>
    </head>
    <body>
       <h1 align ="center"> Sign In</h1> 
        <form method="get" action="/toLanding">
        <P>
            <input type="text" required name="nm" placehodler="username" />
        </P>
        <p>
            <small>Please log to use the transport Hub page</small>
        </p>
        <p>
            <button type="submit"> Sign-In</button>
        </p>
        </form>
    </body>
</html>